.loader {
  width: 6rem;
  height: 6rem;
  margin: 6rem;
  border-radius: 50%;
  border: 0.3rem solid #aaaaaa;
  transform: translate(50%);
  animation: 1s loader ease-out infinite;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
  }

  @keyframes loader {
    from {
      transform: scale(0);
      opacity: 1;
    }
  
    to {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  viewBox{
    transform: rotate(90deg);  
  }

  body {
  transform: rotate(-90deg);  
    padding:
      0;
    margin:
      0;
    background:
      #000000;
    height: 100%;
    position:relative;
    overflow: hidden;
    width: 100%;
    }
canvas {
    display:
      block;
    position:
      absolute;
    left:
      50%;
    top:
      50%;
    transform:
      translate(-50%, -50%);
    width:
      50%;
    height:
      50%;
    text-align:
      center;
    z-index: 1000;
}